@using TravelTrip_WebApp.Models.Entities
@model List<Blog>
<div class="padding1">
    <h4>En Beğendiğim Yerler</h4>
    <div class="box-left">
        @foreach (var item in Model)
        {
            <div class="bot-img">
                <img src="@item.BlogImage" style="width:120px; height:68px;" alt="" />
            </div>
            <div class="bot-desc">
                <a href="/Blog/BlogDetail/@item.Id"><p>@item.BlogContent.Substring(0, 75)...</p></a>
            </div>
            <div class="clear"></div>
        }

    </div>


    @Html.Action("Partial5","Default")
</div>
